
.todo-body {
  width: 350px;
  height: 728px;
  overflow: hidden;
}

.item-title {
  /* color: aquamarine; */
  position: fixed;
  top: 0px;
}

.add-input-text {
  height: 40px;
  width: 250px;
  border-radius: 20px;
  border-width: 0.5px;
  -webkit-app-region: no-drag;
}

.bottom-container {
  position: fixed;
  top: 80px;
}

.submit-button {
  padding: 10px 20px; /* 调整按钮的内边距 */
  font-size: 16px; /* 调整按钮的字体大小 */
  margin-left: 20px;
}

.list-container {
  display: block;
  /* background-color: blueviolet; */
  padding-left: 0; /* 去除 ul 元素的左内边距 */
  margin-left: 0; /* 去除 ul 元素的左外边距 */
  overflow: auto;
  max-height: 400px;
}

.list-item {
  height: 44px;
  width: 100%;
  /* background-color: bisque; */
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item-text {
  flex: 1;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* height: 44px; */
  /* background-color: aqua; */
  /* height: 100%; */
}

.list-item-checkbox {
  -webkit-app-region: no-drag;
}

.delete-button {
  padding: 5px 10px; /* 调整按钮的内边距 */
  font-size: 14px; /* 调整按钮的字体大小 */
  margin-left: 20px;
  height: 30px;
}